<%= simple_form_for @email, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :subject %>
  <%= error_span(@email[:subject]) %>
  <h3>Content</h3><br>
  <%= f.input :content,class: "tinymce", rows: 40,cols: 120 %>
  <%= error_span(@email[:content]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                emails_path, :class => 'btn btn-default' %>
<% end %>
<%= tinymce %>
